<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5level %logger{1}#%L - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="logs/log.txt"
                     filePattern="log.txt_%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5level %logger{1}#%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>